<ion-header-bar class="bar-dark mainHead">
	<h1 class="title">Music App</h1>
</ion-header-bar>

<ion-content>
<ion-list>
  <ion-item href="#/countrylist" class="genreList">Country</ion-item>
  <ion-item href="#/poplist" class="genreList">Pop</ion-item>
  <ion-item href="#/dancelist" class="genreList">Dance</ion-item>
  <ion-item href="#/rblist" class="genreList">R&B</ion-item>
  <ion-item href="#/metallist" class="genreList">Metal</ion-item>
</ion-list>
</ion-content>

<ion-footer-bar>
<ion-tabs class="tabs-dark tabs-icon-top">

 <ion-tab title="Home" href="#/home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">

 </ion-tab>

  <ion-tab title="Genre" href="#/genre" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
  </ion-tab>

  <ion-tab title="Top Hits" href="#/tophits" icon-on="ion-ios-star" icon-off="ion-ios-star-outline">
  </ion-tab>

</ion-tabs>
</ion-footer-bar>