<ion-header-bar class="bar-dark mainHead">
	<h1 class="title">Music App</h1>
</ion-header-bar>

<ion-content>
  	<div class="item item-text-wrap welcomeCard">
  		<h2>Welcome To Music App</h2>
  	</div>
  	  	<div class="item item-text-wrap">
    	<p class="homeText text1">Welcome to the Music App! This app lets you see different genres of music list and lets you see the details of the music. Also, you will be able to view the top tracks and artist!</p>
    	<h3 id="comingsoon">Coming Soon:</h3>
    	<p class="homeText text2">There will be a music player that plays music within the details of the music!</p>
  	</div>
</ion-content>

<ion-footer-bar>
<ion-tabs class="tabs-dark tabs-icon-top">

 <ion-tab title="Home" href="#/home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">

 </ion-tab>

  <ion-tab title="Genre" href="#/genre" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
  </ion-tab>

  <ion-tab title="Top Hits" href="#/tophits" icon-on="ion-ios-star" icon-off="ion-ios-star-outline">
  </ion-tab>

</ion-tabs>
</ion-footer-bar>